In [2]:

import pandas as pd
import numpy as np 
import matplotlib as plt
import seaborn as sns

db = pd.read_csv('data/books.csv', error_bad_lines = False)

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

In [5]:
db.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [6]:
db.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [8]:
db = db.rename (columns = {'  num_pages' : 'num_pages'})

In [9]:
db.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', 'num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [10]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  int64
 6   language_code       11123 non-null  object
 7   num_pages           11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11123 non-null  object
 11  publisher           11123 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

In [11]:
db['isbn13'] = db['isbn13'].astype('object')

In [12]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  object
 6   language_code       11123 non-null  object
 7   num_pages           11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11123 non-null  object
 11  publisher           11123 non-null  object
dtypes: float64(1), int64(4), object(7)
memory usage: 1.0+ MB

In [14]:
db['publication_date'] = pd.to_datetime(db['publication_date'], errors ='coerce')

In [15]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  object
 6   language_code       11123 non-null  object
 7   num_pages           11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11121 non-null  datetime64[ns]
 11  publisher           11123 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 1.0+ MB

In [16]:
db = db.loc[~db['publication_date'].isin(['NaT'])]

In [17]:
db = db.set_axis(db['publication_date'])

In [18]:
db.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11121 entries, 2006-09-16 to 2006-05-28
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11121 non-null  int64
 1   title               11121 non-null  object
 2   authors             11121 non-null  object
 3   average_rating      11121 non-null  float64
 4   isbn                11121 non-null  object
 5   isbn13              11121 non-null  object
 6   language_code       11121 non-null  object
 7   num_pages           11121 non-null  int64
 8   ratings_count       11121 non-null  int64
 9   text_reviews_count  11121 non-null  int64
 10  publication_date    11121 non-null  datetime64[ns]
 11  publisher           11121 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 1.4+ MB

In [19]:
db.duplicated(subset=['isbn13']).sum()

0

In [20]:
db[db.duplicated(subset = ['title','authors','publication_date','publisher'])]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
publication_date,,,,,,,,,,,,
1987-06-01,11557,Swan Song,Robert R. McCammon,4.28,0671741039,9780671741037,eng,956,46244,2540,1987-06-01,Pocket Books
2005-08-02,12683,The Shining,Stephen King/Campbell Scott,4.22,0743536991,9780743536998,eng,0,13,0,2005-08-02,Simon & Schuster Audio
2004-01-19,19135,'Salem's Lot,Stephen King/Ron McLarty,4.02,0743536959,9780743536950,en-US,0,56,5,2004-01-19,Simon & Schuster Audio
2004-05-11,21746,The Enemy (Jack Reacher #8),Lee Child/Dick Hill,4.16,1590864093,9781590864098,eng,14,4,0,2004-05-11,Brilliance Audio
2004-11-25,21759,Tripwire (Jack Reacher #3),Lee Child/Dick Hill,4.09,1593555601,9781593555603,eng,14,11,1,2004-11-25,Brilliance Audio
2004-11-25,21763,Tripwire (Jack Reacher #3),Lee Child/Dick Hill,4.09,1593357389,9781593357382,eng,14,18,4,2004-11-25,Brilliance Audio
2004-06-10,21764,The Enemy (Jack Reacher #8),Lee Child/Dick Hill,4.16,1593353154,9781593353155,eng,14,1,0,2004-06-10,Brilliance Audio
2006-02-07,23894,Cien años de soledad,Gabriel García Márquez,4.07,0307350274,9780307350275,spa,512,52,7,2006-02-07,Plaza y Janes
1976-08-01,36303,'Salem's Lot,Stephen King,4.02,0451139690,9780451139696,eng,427,186,22,1976-08-01,Signet
2007-08-28,39028,The Wheel of Darkness (Pendergast #8),Douglas Preston/Lincoln Child,3.93,0446580287,9780446580281,eng,388,21797,1002,2007-08-28,Grand Central Publishing
2004-10-14,41033,The Best American Mystery Stories 2004,Nelson DeMille/Otto Penzler,3.55,0618329676,9780618329670,eng,448,100,13,2004-10-14,Mariner Books